shim-version: v0.2.10@sha256:f9040a48106ab06c290fd9b225d4dd53a2daad715c9107594d4310b21592039f
cvm-version: 0.5.7
cpus: 16
memory: 65536
gpus: full
vllm: false

containers:
  - name: "doc-upload"
    image: "ghcr.io/docling-project/docling-serve-cu128:v1.8.0@sha256:ed9747dc6b6c794edd9a7e4087151a8bcc8cea29ad066851a541880760de2650"
    args:
      - "--gpus all"

shim:
  listen-port: 443
  upstream-port: 5001
  publish-attestation: false
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /health
    - /v1/convert/file
