shim-version: v0.2.15@sha256:5ca748b384b78b7e686b57ca66d9b3c552038ebab2ce60305004f76e573a8458
cvm-version: 0.5.8
cpus: 16
memory: 65536
gpus: full

containers:
  - name: "doc-upload"
    image: "ghcr.io/docling-project/docling-serve-cu128:v1.8.0@sha256:ed9747dc6b6c794edd9a7e4087151a8bcc8cea29ad066851a541880760de2650"
    args:
      - "--gpus all"

shim:
  listen-port: 443
  upstream-port: 5001
  publish-attestation: true
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /health
    - /v1/convert/file
